<div class="page-wrapper">
	<!--Home-->
	<section class="home">
		<div class="home__wrapper">
			<!--Home info-->
			<div class="home__info">
				<h1>Are you ready for Tempest?</h1>
                <p><%= config.description %></p>
				<div class="home__email-form">
					<input type="text" placeholder="Enter your email">
					<button class="home__email-form-trigger">
						<svg class="icon">
							<use xlink:href="/ui/symbol-defs.svg#icon-mail2"/>
						</svg>
					</button>
				</div>

				<ul class="social-links">
                <% site.data.homepage.social.forEach(function(icon, i) { %>
                  <li class="social-links__item social-links__item">
                      <a href="#">
                          <svg class="icon">
                            <use xlink:href="/ui/symbol-defs.svg#icon-<%= icon %>"/>
                          </svg>
                      </a>
                  </li>
                <% }) %>
				</ul>
			</div>
            <!-- Home info -->

            <%- partial('_partial/home-carousel') %>

			<!--Scroll down-->
			<div class="home__scroll-down" data-js="smooth-scroll" data-href=".blog-list">
				<svg class="icon">
					<use xlink:href="/ui/symbol-defs.svg#icon-arrow"/>
				</svg>
			</div>
			<!--Scroll down-->
		</div>

		<ul class="home__restangle-wrapp">
            <% for (var i in Array(5).fill(0)) { %>
              <li class="home__restangle home__restangle--<%= +i+1 %>" data-js="move-restangle-<%= +i+1 %>"></li>
            <% } %>
		</ul>
	</section>
	<!--/Home-->

	<!--Blog list carousel-->
	<section class="blog-list">
		<div class="container">
			<div class="blog-list__inner" data-js="blog-list-carousel">
				<!--Blog item-->
                <% site.posts.forEach(function(post, index) { %>
                  <div class="blog-list__item">
                      <a href="<%= post.path %>" class="blog-list__item-inner">
                          <!-- Default to some plain background pic, if no thumbnail provided on post -->
                          <% thumbnail_image = post.thumbnail ? post.thumbnail : 'https://placeholdit.co//i/500x250?text=MissingCoverImage' %>
                          <div class="blog-list__item-image" style="background-image: url(<%- thumbnail_image %>)">
                              <!-- <img src="/images/img2.png" alt=""> -->
                          </div>
                          <div class="blog-list__item-text">
                              <span class="blog-list__item-category">NEW</span>
                              <h2><%= post.title %></h2>
                              <p><%- post.excerpt %></p>
                          </div>
                      </a>
                  </div>
                <% }) %>
				<!--/Blog item-->
			</div>
			<ul class="blog-list__carousel-arrows">
				<li class="js-blog-carousel-prev">
					<svg class="icon icon--left">
						<use xlink:href="/ui/symbol-defs.svg#icon-arrow"/>
					</svg>
				</li>
				<li class="js-blog-carousel-next">
					<svg class="icon icon--right">
						<use xlink:href="/ui/symbol-defs.svg#icon-arrow"/>
					</svg>
				</li>
			</ul>
		</div>
	</section>
	<!--/Blog list carousel-->

    <%- partial('_partial/about-section') %>
    <%- partial('_partial/logo-carousel-section') %>
    <%- partial('_partial/contact-section') %>
    <%- partial('_partial/footer.ejs') %>
</div>
