<!DOCTYPE html>
<html lang="en">
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/navigation') %>
  <div class="section">
    <div class="container">
      <%- partial('_partial/header') %>
      <%- body %>
    </div>
  </div>
  <%- partial('_partial/after-footer') %>
  <%- partial('_partial/netlify-identity') %>
</body>
</html>
